<?php
return [
    'debug' => true,
    'database' => [
        'driver' => 'mysql',
        'host' => 'localhost',
        'database' => 'flarum',
        'username' => 'flarum',
        'password' => 'flarum',
        'charset' => 'utf8mb4',
        'collation' => 'utf8mb4_unicode_ci',
        'prefix' => '',
        'strict' => false
    ],
    'url' => 'http://127.0.0.1:50080',
    'paths' => [
        'api' => 'api',
        'admin' => 'admin',
    ],
];